<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Oops! Page Not Found</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<!-- Styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="/ss/download.css" rel="stylesheet">

        <script src="https://use.typekit.net/dhf4pqf.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
	</head>
	<body>
		<section class="subscription">
			<div class="overlay">
				<div class="vertical-center">
					<h1 class="title">Oops! Page Not Found</h1>
					<h3>You landed nowhere :/ Go <a href="http://300ui.design">home</a></h3>
				</div>	
			</div>
		</section>
	</body>
</html>