<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Downloading: Day 15 - Calculator</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<!-- Styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="/ss/download.css" rel="stylesheet">

        <script src="https://use.typekit.net/dhf4pqf.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
	</head>
	<body>
		<section class="subscription" style="background: url('/images/UIs/Day {{day}} - UI.jpg') no-repeat center center; background-size: cover;">
			<div class="overlay">
				<div class="vertical-center">
					<!-- <h1 class="title">{{title}}</h1> -->
					<h1 class="title">Your Download is Starting Now</h1>
					<h3>Want to hear more things like this from me?</h3>
					<button>Subscribe</button>
					<h6>Don't worry, I'm not going to spam you</h6>
				</div>	
			</div>
		</section>

		<!-- jQuery.js -->
		<script type="text/javascript" src="/js/script.js"></script>
	</body>
</html>