<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Link Expired</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<!-- Styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="/ss/download.css" rel="stylesheet">

        <script src="https://use.typekit.net/dhf4pqf.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
	</head>
	<body>
		<section class="subscription" style="background: url('/images/UIs/full/Day {{day}} - UI.jpg') no-repeat center center; background-size: cover;">
			<div class="overlay">
				<div class="vertical-center">
					<h1 class="title">Link Has Expired</h1>
					<h3>Download Links expire in 24 hours. Go <a href="http://300ui.design">home</a> to request another one.</h3>
				</div>	
			</div>
		</section>
	</body>
</html>