<!DOCTYPE html>
<html lang="en">
	<head>
		<title>300 UI in 300 Days</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="Jay Mo's journey of designing a user interface everyday, for 300 days.">
		<meta name="keywords" content="design, ui, ux, dailyui, inspiration, interface, dribbble, behance, freemium, freebie, challenge">
		<meta name="copyright" content="Copyright © 2016 Jay Mo ">
		<meta name="author" content="Jay Mo">
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="Revisit-after" content="31 Days">		


		<!-- Styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="ss/main.css" rel="stylesheet">

        <script src="https://use.typekit.net/dhf4pqf.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
	</head>
	<body>
		<div class="notice" id="top">
			<p>A big thank you to everyone who supported me in this project! I've temporarily stopped at Day 100 - explanation post is coming soon.</p>
		</div>
		<section class="intro" id="intro">
			<a href="http://jaymo.io" class="profile-link">
				<img class="me" src="images/me.jpg">
			</a>
			<h1 id="title">300 UI in 300 Days</h1>
			<p>My name is Jay Mo and I'm on a mission to design one user interface everyday, for 300 Days straight.</p>
			<ul class="social">
                <li><a href="mailto:jayhxmo@gmail.com" target="_blank" data-tip="Let's talk via Email"><i class="fa fa-envelope-o"></i></a></li>                   
                
                <li><a href="https://twitter.com/jayhxmo" target="_blank" data-tip="Follow me on Twitter"><i class="fa fa-twitter"></i></a></li>
                
                <li><a href="https://dribbble.com/jayhxmo" target="_blank"data-tip="See my designs on Dribbble"><i class="fa fa-dribbble"></i></a></li>
                
                <li><a href="https://www.behance.net/jayhxmo" target="_blank" data-tip="Design with me on Behance"><i class="fa fa-behance"></i></a></li>

                <li><a href="https://www.github.com/jayhxmo" target="_blank" data-tip="See my work on GitHub"><i class="fa fa-github"></i></a></li>

                <li><a href="http://jaymo.io" target="_blank" data-tip="Visit my personal website"><i class="fa fa-link"></i></a></li>
            </ul>
		</section>
		
		<nav class="filter">
			<ul>
				<li id="all">All</li>
				<li id="highlights" class="active">Highlights</li>
				<li id="popular">Popular</li>
			</ul>
		</nav>

		<main id="main"></main>

		<div class="fab">
			<a href="#top">
				<i class="fa fa-angle-up"></i>
			</a>
		</div>

		<!-- jQuery.js -->
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
		<script type="text/javascript" src="/js/jquery.plusanchor.min.js"></script>
		
		<!-- React.js -->
        <script src="/js/react.js"></script>
        <script src="/js/react-dom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script type="text/babel" src="/js/render.js"></script>
        
		<script type="text/javascript" src="/js/featherlight.min.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-67227442-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>