<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Styles -->
		<meta name="viewport" content="width=device-width, initial scale=1.0"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<style>
			@media only screen and (max-width: 1000px) {
				h1 { font-size: 28px !important; }
                h3 { font-size: 18px !important; }
			}
		</style>
	</head>
	<body>
		<div style="text-align: center; font-family: 'Helvetica', 'Arial', sans-serif;">
			<center>
				<h1 style="font-size: 54px; font-weight: bold;">300 UI in 300 Days</h1>
				<h3 style="font-size: 24px;">Day 15 - Calculator</h3>	
	            <img src="https://raw.githubusercontent.com/jayhxmo/300UI-in-300Days/master/Day%2041%20-%20Pricing%20Plans/Day%2041%20-%20UI.jpg" style="display: block; width: 540px; max-width: 100%; margin: 10px auto;">
	            <a href="" style="display: block; width: 200px; height: 50px; border: 0; border-radius: 50px; background: #229aff; color: #fff; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; margin: 15px auto 7px; box-shadow: 0 5px 30px #229aff; line-height: 50px; text-decoration: none;">DOWNLOAD</a>
				<h6 style="font-size: 10px; margin: 15px auto 0 auto;">It's also <a href="">open source</a></h6>
				<ul style="list-style: none; margin: 50px auto 0; display: inline-block; padding: 0;">
	                <li style="display: inline-block; margin: 0 13px;"><a href="https://twitter.com/jayhxmo" target="_blank" style="color: #555;"><img src="https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/24/twitter.png" alt=""></a></li>
	                
	                <li style="display: inline-block; margin: 0 13px;"><a href="https://dribbble.com/jayhxmo" target="_blank" style="color: #555;"><img src="https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/24/dribbble.png" alt=""></a></li>
	                
	                <li style="display: inline-block; margin: 0 13px;"><a href="https://www.behance.net/jayhxmo" target="_blank" style="color: #555;"><img src="https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/24/behance.png" alt=""></a></li>

	                <li style="display: inline-block; margin: 0 13px;"><a href="https://www.github.com/jayhxmo" target="_blank" style="color: #555;"><img src="https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/24/github.png" alt=""></a></li>

	                <li style="display: inline-block; margin: 0 13px;"><a href="https://www.linkedin.com/in/jayhxmo" target="_blank" style="color: #555;"><img src="https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/24/linkedin.png" alt=""></a></li>
                </center>
            </ul>
		</div>
	</body>
</html>