@import "buttons";
@import "form";
@import "grid";
@import "animate";

body {
	color: $color-white;
	text-align: center;
}

.subscription {
	@include full-screen;
	@include zero-box;
	background-size: cover;
	background-position: center center;

	.overlay {
		@include full-screen;
		@include zero-box;
		@include background(rgba(0, 0, 0, 0.75));
	}

	h1.title {
		@include margin(0 auto em(2px) auto);
	}

	h3 {
		color: $color-gallery;
	}

	h6 {
		color: $color-silverchalice;
		@include margin(em(20px) auto 0);
	}

	input {
		@include size(em(250px) em(50px));
		@include margin(0 em(5px));
	}

	button {
		@include margin(em(30px) auto em(15px) em(5px));
		@include background($color-dodgerblue);
		color: $color-white;
		box-shadow: 0 em(5px) em(30px) $color-dodgerblue;

		&:hover {
			@include background(lighten($color-dodgerblue, 2%));
			box-shadow: 0 em(10px) em(40px) $color-dodgerblue;
		}
	}
}