.fab {
	position: fixed;
	right: em(25px);
	bottom: em(30px);
	
	@extend %transition;

	&:hover {
		bottom: em(35px);

		a {
			box-shadow: 0 15px 30px $color-dodgerblue;
			opacity: 1;
			@include background(lighten($color-dodgerblue, 5%));
		}
	}
	
	a {
		display: inline-block;
		@include size(em(75px) em(75px));
		line-height: em(88px);

		@include background($color-dodgerblue);
		color: $color-white;

		border-radius: 50%;
		text-align: center;
		opacity: 1;

		box-shadow: 0 7px 15px $color-dodgerblue;
		@extend %transition;
	}

	i {
		display: inline-block;
		font-size: em(42px);
	}
}