.intro {
	@include padding(em(50px) 0 em(30px));
	@include background($color-white);
	text-align: center;

	img.me {
		@include size(em(150px) em(150px));
		@include margin(0 auto em(15px));
		border-radius: 50%;
		box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
		@extend %transition;
		
		&:hover {
			@include margin(em(-5px) auto em(20px));
			box-shadow: 0 22px 50px rgba(0, 0, 0, 0.33);
		}
	}

	h1#title {
		@include margin(0);
	}

	p {
		width: em(540px);
		max-width: 90%;
		@include margin(em(10px) auto 0);
		color: $color-boulder;
	}	

	.profile-link:hover {
		opacity: 1;
	}
}

.social {
	width: 100%;
    @include margin(em(15px) auto 0 em(-17px));
    text-align: center;
    list-style: none;

    li {
	    display: inline-block;
	    @include margin(0 em(10px));
	    color: $color-emperor;
	}

	i {
		display: inline-block;
		@include size(em(36px));
		font-size: em(22px);
		line-height: em(36px);
	}

	a {
    	position: relative;
	    display: inline-block;
	    color: $color-emperor !important;

	    &::before {
            position: absolute;
            z-index: 999;
            left: -80%;
            bottom: 9999px;

            height: em(50px);
            line-height: em(50px);
			@include padding(0 em(12px));

            background: $color-black;
            color: $color-white;

            font-size: em(12px);
	    	content: attr(data-tip);
            white-space: nowrap;
            
            opacity: 0;
            transition: opacity 0.4s ease-out;
	    }

	    &:hover::before {
	    	opacity: 1;
    		bottom: em(-40px);
	    }
	}
}