.info {
	@include margin(1vh auto 0);
	@include padding(em(25px) 7%);
	@include background($color-white);

	h4.credits {
		@include margin(0);
		color: $color-emperor;
	}

	h2.title {
		@include margin(em(2px) 0);
		font-size: em(32px);
	}

	h5.tags {
		@include margin(0);
		color: $color-boulder;
	}

}

.download {
	@include margin(0 auto 10vh);
	@include padding(em(25px) 7%);
	@include background($color-gallery);
	
	h4.download-info {
		@include margin(0 em(10px) 0);
		color: $color-emperor;
	}

	h6.disclaimer {
		@include margin(em(25px) 0 0);
		color: $color-silverchalice;
	}

	h5.stats {
		@include margin(em(10px) 0 0);
		color: $color-dustygray;
	}

	button {
		@include background($color-dodgerblue);
		color: $color-white;
		box-shadow: 0 em(5px) em(30px) $color-dodgerblue;

		&:hover {
			@include background(lighten($color-dodgerblue, 2%));
			box-shadow: 0 em(10px) em(40px) $color-dodgerblue;
		}
	}
}