/****************************************************************
*****************************************************************
  /$$$$$$   /$$$$$$  /$$        /$$$$$$  /$$$$$$$   /$$$$$$ 
 /$$__  $$ /$$__  $$| $$       /$$__  $$| $$__  $$ /$$__  $$
| $$  \__/| $$  \ $$| $$      | $$  \ $$| $$  \ $$| $$  \__/
| $$      | $$  | $$| $$      | $$  | $$| $$$$$$$/|  $$$$$$ 
| $$      | $$  | $$| $$      | $$  | $$| $$__  $$ \____  $$
| $$    $$| $$  | $$| $$      | $$  | $$| $$  \ $$ /$$  \ $$
|  $$$$$$/|  $$$$$$/| $$$$$$$$|  $$$$$$/| $$  | $$|  $$$$$$/
 \______/  \______/ |________/ \______/ |__/  |__/ \______/ 

*****************************************************************
****************************************************************/
/****************************************************************
*****************************************************************

 /$$$$$$$$ /$$     /$$ /$$$$$$$   /$$$$$$ 
|__  $$__/|  $$   /$$/| $$__  $$ /$$__  $$
   | $$    \  $$ /$$/ | $$  \ $$| $$  \ $$
   | $$     \  $$$$/  | $$$$$$$/| $$  | $$
   | $$      \  $$/   | $$____/ | $$  | $$
   | $$       | $$    | $$      | $$  | $$
   | $$       | $$    | $$      |  $$$$$$/
   |__/       |__/    |__/       \______/ 
                                          
*****************************************************************
****************************************************************/
/****************************************************************
*****************************************************************

 /$$      /$$ /$$$$$$  /$$$$$$   /$$$$$$ 
| $$$    /$$$|_  $$_/ /$$__  $$ /$$__  $$
| $$$$  /$$$$  | $$  | $$  \__/| $$  \__/
| $$ $$/$$ $$  | $$  |  $$$$$$ | $$      
| $$  $$$| $$  | $$   \____  $$| $$      
| $$\  $ | $$  | $$   /$$  \ $$| $$    $$
| $$ \/  | $$ /$$$$$$|  $$$$$$/|  $$$$$$/
|__/     |__/|______/ \______/  \______/ 
                                         
                                          
*****************************************************************
****************************************************************/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  font-size: 62.5%; }
  @media screen and (min-width: 33.75em) {
    html {
      font-size: 65%; } }
  @media screen and (min-width: 61.625em) {
    html {
      font-size: 70%; } }
  @media screen and (min-width: 75em) {
    html {
      font-size: 80; } }
  @media screen and (min-width: 100em) {
    html {
      font-size: 92.5%; } }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.75em; }

.email {
  height: 100%;
  width: 100%;
  min-height: 100%;
  margin: 0;
  margin: 0;
  padding: 0;
  color: #1d1d1d;
  text-align: center; }
  .email h1.title {
    margin: 0 auto 0.625em; }
  .email h3 {
    color: #555; }
  .email h6 {
    color: #777; }

img {
  display: block;
  width: 31.25em;
  max-width: 100%;
  margin: 0.625em auto; }

button {
  height: 3.125em;
  width: 12.5em;
  margin: 0.9375em auto;
  background: #229aff;
  background: #229aff;
  color: #fdfdfd;
  font-size: 1em;
  font-weight: 600;
  border: 0;
  border-radius: 3.125em;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
  box-shadow: 0 0.3125em 1.875em #229aff; }
  button:hover {
    background: #2c9fff;
    background: #2c9fff;
    box-shadow: 0 0.625em 2.5em #229aff; }

.social {
  width: 100%;
  margin: 1.875em auto 0 -3.75em;
  text-align: center;
  list-style: none; }
  .social li {
    display: inline-block;
    margin: 0 0.625em;
    color: #555; }
  .social i {
    display: inline-block;
    height: 2.25em;
    width: 2.25em;
    font-size: 1.375em;
    line-height: 2.25em; }
  .social a {
    position: relative;
    display: inline-block;
    color: #555; }

/*# sourceMappingURL=email.css.map */
