button {
	@include size(em(200px) em(50px));
	
	background-color: $color-white;
	color: $color-black;

	font-family: $title-font;
	@include font-sw(em(16px), $default-font-weight);

	border: 0;
	border-radius: em(50px);

	outline: none;
	text-transform: uppercase;

	@include transition(all $animation-duration $animation-timing);

	&:hover { background-color: shade($color-white, 5%); }

	// &:after {
	// 	    opacity: 1;
	// 	    position: absolute;
	// 	    top: 50%;
	// 	    height: 10px;
	// 	    width: 6px;
	// 	    right: 20px;
	// 	    margin-top: -5px;
	// 	    content: "";
	// 	    background: url('../images/arrow.png') no-repeat right center;
	// 	    background-size: 6px 10px
	// }
}