@import "../base/_variables.scss";
@import "../base/_template.scss";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


html {
  font-size: 62.5%;
  @media screen and (min-width: $bp-sm) { font-size: 65%; }
  @media screen and (min-width: $bp-md) { font-size: 70%; }
  @media screen and (min-width: $bp-lg) { font-size: 80; }
  @media screen and (min-width: $bp-xl) { font-size: 92.5%; }
}

%header {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

@for $index from 1 through length($font-sizes) {
  $size: nth($font-sizes, $index);
  h#{$index} {
    @extend %header;
    font-size: em($size);
  }
}

.email {
	@include full-screen;
	@include zero-box;
	color: $color-black;
	text-align: center;

	h1.title {
		@include margin(0 auto em(10px) auto);
	}

	h3 {
		color: $color-emperor;
	}

	h6 {
		color: $color-boulder;
	}	
}

img {
	display: block;
	width: em(500px);
	max-width: 100%;
	@include margin(em(10px) auto);
}

button {
	@include size(em(200px) em(50px));
	
	@include margin(em(15px) auto em(15px));
	@include background($color-dodgerblue);
	color: $color-white;
	
	@include font-sw(em(16px), $default-font-weight);

	border: 0;
	border-radius: em(50px);

	outline: none;
	text-transform: uppercase;

	@include transition(all $animation-duration $animation-timing);
	
	box-shadow: 0 em(5px) em(30px) $color-dodgerblue;

	&:hover {
		@include background(lighten($color-dodgerblue, 2%));
		box-shadow: 0 em(10px) em(40px) $color-dodgerblue;
	}
}

.social {
	width: 100%;
    @include margin(em(30px) auto 0 em(-60px));
    text-align: center;
    list-style: none;

    li {
	    display: inline-block;
	    @include margin(0 em(10px));
	    color: $color-emperor;
	}

	i {
		display: inline-block;
		@include size(em(36px));
		font-size: em(22px);
		line-height: em(36px);
	}

	a {
    	position: relative;
	    display: inline-block;
	    color: $color-emperor;
	}
}