// Form.scss

input {
	@include size(em(480px) em(55px));
	@include margin(0 auto);
	@include padding(0 auto);
	
	color: $color-black;
	background-color: $color-white;
	
	border: 0;
	border-radius: 1px;

	font: normal normal $default-font-weight em(16px)/em(55px) $title-font;
	
	text-align: left;
	outline: none;

	@include transition(all $animation-duration $animation-timing);
}