.UI {
	@include span-columns(4);
	height: 15vw;
	
	@include margin(0);
	@include padding(0);

	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;

	.visible-container {
		@include size(100% 100%);
		@include margin(0);
		@include padding(0);

		background: rgba(0, 0, 0, 0.33);
		color: $color-white;
		
		opacity: 0;
		text-align: center;

		@include transition(all $animation-duration $animation-timing);
	}

	&:hover {
		.visible-container {
			opacity: 1;

			.view {				
				span.arrow {
					margin-left: em(5px);
					background-position: right center;
					opacity: 1;
				}
			}
		}

		.day {
			cursor: pointer;
			opacity: 0;
		}
	}
}

.day {
	@include position(absolute, em(10px) 0 0 em(10px));
	z-index: 10;
	
	@include size(em(54px));
	@include margin(0);
	@include padding(0);

	@include background(rgba(0, 0, 0, 0.33));
	color: $color-white;

	font-family: $body-font;
	@include font-sw(em(20px), 600);
	text-align: center;

	border-radius: 50%;
	line-height: em(54px);

	@include transition(all $animation-duration $animation-timing);
}

.vertical-center {
	@include margin(0);
	@include padding(em(15px));
	@include vertical-center;

	h1.name {
		@include margin(0 auto em(2px));
		font-size: em(36px);
	}

	h5.tags {
		@include margin(0 auto);
		color: $color-gallery;
		font-style: italics;
	}
}


button.view {
	display: inline-block;
	@include margin(5vh auto 0);

	@include transition(all $animation-duration $animation-timing);

	span.arrow {
		display: inline-block;
	    width: em(20px);
	    height: em(11px);
		@include margin(0 0 0 em(-20px));

		background: url('../images/arrow.svg') no-repeat;
		background-position: em(-20px) center;
	    background-size: cover;
	    content: "";
		opacity: 0;


		@include transition(all $animation-duration $animation-timing);
		transition-delay: 300ms;
	}
}

#day-1 {
	@include background(url("../images/day1.jpg"));
}


.social {
	a {
		color: $color-white;

		i {
			display: inline-block;
			@include size(em(36px));
			font-size: em(18px);
			border: 2px solid $color-white;
			border-radius: em(36px);
			line-height: em(36px);
		}
	}
}