html, body {
	@include full-screen;
	@include zero-box;
	@include background($color-mineshaft);
	@include scrollbars(.5em, $color-dustygray);
	overflow-x: hidden;
}

.display-none {
	display: none;
	@extend %transition-slow;
}

.visible-none {
	opacity: 0;
	@extend %transition-slow;
}

.vertical-center {
	@include vertical-center;
}